body{
    box-sizing: content-box;
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
}

a{
    color: #4F4F4F;
    text-decoration: none;
}

header{
    border-bottom: 2px  solid grey;
}

header > *{
    display: inline-block;
    text-align: center;
}

header > form{
    width: 60%;
}

header > h1{
    color:#BD081C;
    height: 5vh;
    left: 1.5em;
    position: relative;
}

header nav{
    width: 28%;
}

header nav a{
display: inline-block;
width: 30%;
text-align: center;    
}

form{
    background-color: white;
    margin: 1em;
    text-align: center;
}

img {
    border-radius: 10%;
    border: 50px;
    height: fit-content;
    width: 90%;
    border-right: 10%;
    margin-left: 18%;
}

input{
    width: 70%;
    height: 3vh;
    background-color: rgb(231, 229, 229);
    border: none;
    border-radius: 3px;
}

.lupa{
    float: left;
    margin-left: 5%;
    width: 95%;
    height: 3em;
}

main{
    position: relative;
    top: 25vh;
}

.col {
    float: left;
    margin: 0.5em;
    max-width: 30%;
    min-height: fit-content;
    position: relative;
}

.pin img{
    max-width: 75%;
    height: auto;
}

.pin:hover{
    opacity: 0.5;
    color: #4F4F4F;
}

.pin-title {
    position: relative;
    overflow: auto;
    padding: 1em;
    margin-left: 10vh;
    text-align: left;
}

